
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.rotate-img{
  width: 100px;
  height: 100px;
}

.rotate-container{
  transform: rotate(180deg);
}

.rotate-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
